*{
	margin: 0;
}
.container{
	/*border:solid;*/
	height: 900px;
	width: 960px;
	margin: 0px auto;
}

.box{
	height: 70px;
	width: 960px;
	background-color: black;
	color: white;
}

.child1{
		display: inline-block;
		float: left;
		padding: 15px;
}

.child2{
		display: inline-block;
		float: right;
		padding: 15px;
		margin-top: 7px;
}

ul li{
	display: inline-block;
	width: 100px;
	text-align: center;
}



.img{
    background-image: url(..//img//shubham.jpg);
    background-size: cover;
	height: 500px;
}

.box2{
	/*border:solid;*/
	width: 960px;
	height: 150px;
	margin-top: 20px;
	margin: 20px;


}

.child3{
	/*border:solid;*/
	display: inline-block;
	width: 230px;
	margin: 3px;
	color: gray;

}

img{
	width: 50px;
}

.box3{
	width: 960px;
	/*border:solid;*/
}

.child4{
	width: 230px;
	/*border:solid;*/
	display: inline-block;
	margin: 40px;
	height: 100px;
	background-image: url(..//img//shubham.jpg);
    background-size: cover;
}

.box4{
	border:solid;
	margin-top: 20px;
	height: 200px;
}

.child5{
	border: solid;
	display: inline-block;
	width:620px;
}

.child6{

	border:solid;
	width: 300px;
	display: inline-block;
}

.mini{
	border:solid;
}